@charset "utf-8";
/* CSS Document */
body{
	width: 1347px;
	height: auto;
}
#header{
	background-image: url(header1.jpg);
	background-repeat: no-repeat;
	width: auto;
	height: 200px;
	text-align: center;

}
#container{
	width: auto;
	background-color: white;
	
}
#menu{
	width: 1347px;
	height: 40px;
	background-image: url(ho.gif);
	background-repeat: repeat-x;
}
#menu ul{
	list-style: none;


}
#menu ul li{
	background-image: url(ho.gif);
	margin: 2px;
	width: 105px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	float: left;
	border-radius: 8px;
}
#menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
#menu ul li a:hover{
	background-color: green;
	border-radius: 8px;

}
.clock{
		height:30px;
		width:95px;
		font-family:lobster-two;
		text-align:right;
		margin-left: 1200px;
		line-height: 5px;
		position: absolute;
		font-size:18px;
		color:white;
	  }
#left{
	float: left;
	width: 880px;
	height: 400px;
	text-decoration-line:none;
	border-radius: 1px solid pink;
	border-radius: 5px;
}
#right{
	float:left;
	width: 447px;
	height: 400px;
	text-decoration: justify;
}
#footer{
	width: auto;
	height: auto;
	text-align: center;
	font-size: 14;
}
#calander{
	position: absolute;
	margin-left: 60px;
	padding-right: 30px;
}